<%= render 'layouts/errors', object: @lesson %>

<%= form_for @lesson do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :content %>
  <%= f.text_area :content %>

  <%= f.label :sort_order %>
  <%= f.text_field :sort_order %>

  <%= f.label :section %>
  <%= f.collection_select :section_id, Section.all, :id, :title %>

  <label for="add_section">Add A Section</label>
  <input type="text" name="lesson[add_section]" id="add_section">

  <%= f.submit %>
<% end %>
